---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - page
    - post
    - adventure
    - game
permalink: /tags/{{ tag }}/
layout: page.html
---

<h1>Tagged “{{ tag | replace: "-", " " }}”</h1>

{% assign taglist = collections[tag] %}
{% for post in taglist | reverse %}
  {% if forloop.first == false %}
    <hr>
  {% endif %}
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
  <h2>
    {{ page.date | date: date_format }}:
    <a href="{{ post.url }}">
      {{ post.data.title }}
    </a>
  </h2>
  <p>
    {{ post.data.subtitle }}
  </p>
{% endfor %}
